*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #b5b5b5;
}

*:focus-visible {
  outline: 2px solid #005bd3;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 200px;
}

.navbar {
  display: flex;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  position: relative;
}

.logo-img-1 {
  display: block;
}

.logo-img-2 {
  display: none;
}

.search {
  display: flex;
  position: relative;
}

.search-bar {
  border-radius: 8px;
  border: 1px solid var(--stroke-s-200, #616161);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 10px;
  width: 40rem;
  color: #ffffff;
  background: var(--grey-g-200, #303030);
}

.search-bar::placeholder {
  font-size: 13px;
  font-family: Inter;
  font-weight: 500;
}

.search-icon {
  position: absolute;
  top: 3px;
  left: 5px;
}

.profile {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-1 {
  display: flex;
  background: var(--grey-grey-50, #656266);
  border-radius: 8px;
  cursor: pointer;
}

.alert-img {
  background: var(--grey-grey-50, #656266);
  border-radius: 8px;
  padding: 6px;
}

.alert-img-active {
  background: var(--grey-grey-200, #303030);
}

#alertImg {
  cursor: pointer;
}
.profile-name {
  color: var(--font-light, #e3e3e3);
  padding: 10px 10px 10px 10px;
  font-weight: 500;
  font-family: Inter;
}

.profile-name-1 {
  background: #36fba1;
  border-radius: 6px;
  padding: 8px 5px 8px 5px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
}

.setup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
.plan {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px 8px 12px 10px;
  width: 75rem;
  background: var(--grey-grey-300, #1a1a1a);
  border-radius: 8px;
  justify-content: space-between;
}

.plan-1 {
  display: flex;
  align-items: center;
  gap: 220px;
}

.plan-text {
  color: var(--font-light, #e3e3e3);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
}

.plan-btn {
  background: var(--White, #fff);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 6px 12px;
  font-family: Inter;
  font-weight: 600;
}

.trial {
  display: none;
}

.trial-btn {
  cursor: pointer;
}

.setup-guide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #ffffff;
  width: 75rem;
  border-radius: 6px;
  padding: 8px 8px 10px 8px;
}

.setup-guide-top {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.setup-guide-3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.setup-guide-1 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.setup-guide-header {
  font-size: 14px;
  font-weight: 600;
  font-family: Inter;
}
.setup-guide-text {
  font-size: 13px;
  font-weight: 400;
  font-family: Inter;
}

.setup-guide-2 {
  display: flex;
  gap: 10px;
}

.completed {
  font-size: 12px;
  font-family: Inter;
}

.progress-bar-container {
  width: 100px;
  height: 5px;
  background-color: #ddd;
  margin-top: 8px;
  position: relative;
  top: -3px;
  border-radius: 4px;
}

.progress-bar {
  display: block;
  height: 100%;
  width: 0;
  background-color: black; /* Green color */
  transition: width 0.3s ease;
}

.setup-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.online-store {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  border-radius: 10px;
  background: #f3f3f3;
  padding: 8px 8px 0px 8px;
}

.online-store-bg {
  background: #ffffff;
}

.online-store-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.online-store-header {
  display: flex;
  gap: 5px;
  align-content: center;
}

.online-store-header {
  margin-top: 4px;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#setup-sect-load-one,
#setup-sect-load-two,
#setup-sect-load-three,
#setup-sect-load-four,
#setup-sect-load-five {
  animation: rotate 1s infinite linear;
}

.online-store-circle {
  border: 1px dashed #1a1a1a;
  border-radius: 50px;
  /* width: 10px; */
  padding: 7px 7px 7px 7px;
}

.online-store-header {
  font-weight: 600;
  font-size: 13px;
  font-family: Inter;
  color: var(--font-dark, #303030);
  cursor: pointer;
}

.online-store-2 {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-left: 20px;
}

.online-store-3 {
  display: flex;
  align-items: start;
  gap: 40px;
}

.img {
  margin-top: -30px;
}

.online-store-text {
  color: var(--font-mid-2, #616161);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  width: 50rem;
}

.learn-more {
  color: var(--states-focused, #005bd3);
  font-size: 14px;
  font-weight: 500;
  font-family: Inter;
}

.button {
  border: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-radius: 6px;
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  color: var(--font-light, #f6f3f6);
  padding: 6px 12px;
  width: 13rem;
  font-size: 12px;
  font-weight: 600;
  font-family: Inter;
}

.product-btn {
  display: flex;
  gap: 30px;
  align-items: center;
}

.button-2 {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  font-family: Inter;
  font-size: 12px;
  font-weight: 600;
}

.payment-btn {
  margin-bottom: 12px;
}

/* profile dropdown */
.profile-dropdown {
  position: absolute;
  top: 70px;
  right: 10px;
  width: 30rem;
  padding: 10px 6px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  border-radius: 14px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  background: var(--White, #fff);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.profile-dropdown:focus-visible {
  outline: 2px solid #005bd3;
  border-radius: 10px;
  padding-left: 4px;
}

.profile-dropdown-1 {
  display: flex;
  justify-content: space-between;
  background: var(--states-hover, #f1f1f1);
  border-radius: 8px;
  padding: 4px 12px 4px 8px;
  align-items: center;
}

.profile-dropdown-2 {
  display: flex;
  gap: 5px;
  align-items: center;
}

/* #profile-select:focus-visible {
  outline: 1px solid #005bd3;
} */

.profile-dropdown-2-name {
  background: #36fba1;
  border-radius: 5.25px;
  padding: 9.625px 5.875px 10.375px 6.125px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  font-size: 10.5px;
}

.profile-dropdown-2-name-1 {
  font-family: Inter;
  font-size: 13px;
  font-weight: 600;
}

.profile-dropdown-store {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-dropdown-text {
  font-family: Inter;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  color: var(--font-dark, #303030);
}

.profile-dropdown-link:link {
  text-decoration: none;
}

.profile-dropdown-link:focus-visible {
  outline: 2px solid #005bd3;
  border-radius: 10px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.break-line {
  border: 1px solid #e1e1e1;
}

.profile-dropdown-options {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5px;
}

.profile-dropdown-3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 5px;
}

.profile-dropdown-4 {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.profile-dropdown-4-name {
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
}

.profile-dropdown-4-email {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

/* Alerts */
.alerts {
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 10px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50, #dbdbdb);
  background: var(--White, #fff);
  padding: 16px;
  top: 70px;
  right: 10px;
  z-index: 1;
  width: 32rem;
}

.alerts-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alerts-header {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  color: var(--font-dark, #303030);
}

.alerts-2 {
  display: flex;
  gap: 10px;
}

.alerts-text {
  background: var(--states-hover, #f1f1f1);
  padding: 16px;
  font-family: Inter;
  font-weight: 600;
  color: var(--font-mid-2, #616161);
}

.hidden {
  display: none;
}

.rotate {
  transform: rotate(180deg);
}

#setup-guide-select {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .navbar {
    justify-content: space-between;
  }

  .logo-img-1 {
    display: none;
  }

  .logo-img-2 {
    display: block;
  }

  .search-bar {
    width: 20rem;
  }

  .profile-name {
    display: none;
  }

  .plan {
    width: 36rem;
    padding: 12px 8px 12px 16px;
  }

  .plan-1 {
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .setup-guide {
    width: 36rem;
    align-items: start;
  }

  .online-store {
    padding-bottom: 15px;
  }
  .online-store-text {
    width: 30rem;
  }

  .payment-btn {
    margin-bottom: 0;
  }

  .img {
    display: none;
  }
  .alerts {
    left: 15px;
    top: 50px;
    width: 36rem;
  }

  .profile-dropdown {
    width: 32rem;
    top: 50px;
  }
}
